.question {
	background-color: #42aaff;
	width: 1920px;
	word-break: break-all;
	text-align:center;
	font-size:30px;
	margin-bottom: 30px;
	float:bottom;
}

.topic {
	font-size:250%;
}

.btn {
	background-color:red;
}

nav {
	margin-bottom:10px;
}
img {
    max-width: 20%;
    max-height: 20%;
}

img:hover {
	max-width: 70%;
    max-height: 70%;
	
}