.question {
	background-color: #42aaff;
	height: 200px;
	width: 1920px;
	word-break: break-all;
	text-align:center;
}

.topic {
	font-size:250%;
}

.button{
	background-color:red;
	width:100px;
	height: 30px;
	text-align:middle;
	border-radius: 30px;
	margin-left: 910px;
	margin-bottom:50px;
}

.linkbutton {
	color: white;
	text-decoration: none;
}
