.message {
	background-color: #42aaff;
	height: 200px;
	width: 700px;
	word-break: break-all;
	margin-bottom:50px;
	border: 1px solid black;
}

.main_image {
	max-width: 40%;
    max-height: 40%;
}
.main_image:hover{
	max-width: 100%;
    max-height: 100%;
}

.username {
	margin-top:200px;
	text-align:left;
	
}



.profile_image {
	width:140px;
	height: 140px;
	margin-left: 5px;
	margin-top: 5px;
}

textarea {
	width:500px;
	height: 300px;
	resize: none;
	margin: auto;
}

.info {
	width:150px;
}

th {
	text-align:right;
}

.index {
	width:100px;
	
}

td {
	padding-right: 10px;
}

.question {
	background-color:#42aaff;
	font-size: 50px;
}

.author {
	background-color:#42aaff;
	
}

#post {
background-color:orange;
display:none;
width: 560px;
height: 410px;
text-align:center;
}

#post:target {display: block;}

#close {
	margin-left:540px;
}

.btn {
	background-color:red;
}
