<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
        <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>Edit profile</title>
</head>
<body>
<a href="/profile/{{current_user.id}}" class="btn btn-secondary">Назад</a>
<form method="post" action="" enctype="multipart/form-data" class="info">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
        {{form.username.label}}<br>
        {{form.username(value=current_user.username)}}
        </p>
        <p>
        {{form.about.label}}<br>
        {{form.about(value=current_user.about)}}
        </p>
        <p>
        {{form.location.label}}<br>
        {{form.location(value=current_user.location)}}
        </p>
        <p>
        {{form.image.label}}
        {{form.image}}
        </p>
        {{form.submit}}
</form>

</body>
</html>